
.home {
    .hero {
        min-height: 100vh;
    }
    .aboutus {
        color:#ffffffab;
        h2 {
            font-size: 1.25rem;
            text-transform: uppercase;            
        }
        h3 {
            font-size: 2rem;
        }
    }
}